<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-adeens-control" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>ControlPanel</name>
    <js-module name="ControlPanel" src="www/ControlPanel.js">
        <clobbers target="cordova.plugins.ControlPanel" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ControlPanel">
                <param name="android-package" value="com.adeens.ControlPanel" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/ControlPanel.java" target-dir="src/com/adeens/control" />
    </platform>
</plugin>
